.main {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.container {
  display: flex;
  /* height: 100vh;  */
}      

.NavBar {
  width: 80px; /* Fixed small width */
}

.Main {
  flex: 1; /* Take the remaining space */
  overflow: auto; /* Optional: Handle overflow */
}

.table-small {
  display: none;
}

@media (max-width: 992px) {
  .table-small {
    display: inline;
  }
}

@media (max-width: 768px) {
  .table-small {
    font-size: 0.7rem;
  }
}